*.pyc
*.ipynb_checkpoints
*.cpython-35.pyc
**/sparcs_raw
dataFiles/compiledDischargesHospitalFeaturesCensus.csv
dataFiles/top10AprHospFeat.csv
dataFiles/cSectionAprHospFeat.csv
dataFiles/kneeAprHospFeat.csv
